# Prediction

In [1]:
import tprstats
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as stats
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
coffee_data = pd.read_excel('../data/Coffee_Data.xlsx', engine='openpyxl')
diamonds_211 = pd.read_excel('../data/Diamonds_211.xlsx', engine='openpyxl')
solar_data = pd.read_excel('../data/Solar_Data.xlsx', engine='openpyxl')
solar_new_prospects = pd.read_excel('../data/Solar_New_Prospects.xlsx', engine='openpyxl')
diamonds_e_100= pd.read_excel('../data/Diamond_E_100.xlsx', engine='openpyxl')

In [2]:
model_diamonds = tprstats.model("cs", 'Price ~ Carat + C(Cut)', diamonds_e_100)
# model_diamonds = tprstats.model("cs", 'log(Price) ~ log(Carat) + C(Cut)', diamonds_e_100)

In [3]:
model_diamonds.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.919
Model:                            OLS   Adj. R-squared:                  0.916
No. Observations:                 100   F-statistic:                     138.9
Covariance Type:                  HC1   Prob (F-statistic):           8.49e-35
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept   -4948.2579    702.464     -7.044      0.000   -6325.062   -3571.454
C(Cut)[T.2]     6.5535    554.253      0.012      0.991   -1079.762    1092.869
C(Cut)[T.3]   361.8990    420.694      0.860      0.390    -462.647    1186.445
Carat        1.142e+04    583.752     19.558      0.000    1.03e+04    1.26e+04
===============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
"""

In [4]:
model_diamonds.scaled_coefficients()

                    coefs  std_coefs  elasticities
C(Cut)[T.2]      6.553502   0.000518        0.0003
C(Cut)[T.3]    361.899026   0.028297        0.0151
Carat        11417.207561   0.966408        1.5576

In [5]:
sub_diamond = diamonds_e_100.loc[0:5]

In [6]:
model_diamonds.predict(sub_diamond)

0     1122.244878
1     1223.587657
2     7617.223891
3    15507.926405
4    12976.757942
5     3507.029169
dtype: float64

In [7]:
model_diamonds.prediction_intervals(sub_diamond)

      Predicted         Lower         Upper
0   1122.244878  -2432.951154   4677.440910
1   1223.587657  -2325.150536   4772.325849
2   7617.223891   4070.756158  11163.691623
3  15507.926405  11868.920641  19146.932169
4  12976.757942   9336.137597  16617.378287
5   3507.029169    -27.590848   7041.649186

In [8]:
logit_solar = tprstats.model("logit", 'Sale ~ AnnualSave + AnnualCost + DrivesHybrid + NearbySolar + HomeValue', solar_data)

Optimization terminated successfully.
         Current function value: 0.102926
         Iterations 9

In [9]:
logit_solar.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sale   No. Observations:                 1500
Model:                          Logit   Df Residuals:                     1494
Method:                           MLE   Df Model:                            5
Date:                Sun, 26 Jan 2025   Pseudo R-squ.:                  0.2847
Time:                        22:20:46   Log-Likelihood:                -154.39
converged:                       True   LL-Null:                       -215.84
Covariance Type:            nonrobust   LLR p-value:                 7.619e-25
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept      -12.7445      4.837     -2.635      0.008     -22.224      -3.265
AnnualSave       3.9268      0.649      6.048      0.000       2.654       5.199
AnnualCost      -4.0989      1.475     -2.778      0.005      -6.990      -1.207
DrivesHybrid     0.9644      0.413      2.333      0.020       0.154       1.775
NearbySolar      1.9421      0.398      4.884      0.000       1.163       2.722
HomeValue        0.0178      0.008      2.192      0.028       0.002       0.034
================================================================================
"""

In [10]:
sub_solar = solar_data.loc[0:5]

In [11]:
logit_solar.predict(sub_solar)

0    0.016174
1    0.004382
2    0.023212
3    0.003461
4    0.086937
5    0.049329
dtype: float64

In [12]:
print(solar_data['AnnualCost'].head)

<bound method NDFrame.head of 0       1.486866
1       1.488793
2       1.492262
3       1.502111
4       1.517084
          ...
1495    2.128399
1496    2.133756
1497    2.137215
1498    2.181505
1499    2.189772
Name: AnnualCost, Length: 1500, dtype: float64>

In [13]:
logit_solar.classification_table(p_cutoff=0.1)

[1368.0, 83.0, 22.0, 27.0]

     Summary  Actual  Predicted  Frequency
0    Correct       0          0     1368.0
1  Incorrect       0          1       83.0
2  Incorrect       1          0       22.0
3    Correct       1          1       27.0

In [14]:
Xnew = pd.DataFrame({
    'AnnualSave': [2.5, 1.9, 2.3],
    'AnnualCost': [1.8, 1.5, 1.7],
    'DrivesHybrid': [1, 0 , 0],
    'NearbySolar': [0, 1, 0],
    'HomeValue': [550, 675, 495]
})

In [15]:
logit_solar.predict(Xnew)

0    0.613822
1    0.927109
2    0.135068
dtype: float64

In [ ]:
logit_solar.predict()